# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen


node_modules

index.js
index.js.map

test/lib/*.js
test/lib/*.js.map

test/server/*.js
test/server/*.js.map

test/ajax/*.js
test/ajax/*.js.map

src/*.js
src/*.js.map

src/server/*.js
src/server/*.js.map

#coverage reporter
coverage

#gulp dist
dist